h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: aqua;
}

strong {
    font-weight: 800000;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}